<!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container team-header">
            <div class="row">
                <div class="col-lg-7">
                    <div class="position-relative">
                    <h1 class="animated slideInDown mb-4">Our Team</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
                            <li class="breadcrumb-item text-white">Pages</li>
                            <li class="breadcrumb-item text-red2 active fw-medium txt-opacity80" aria-current="page">Our Team</li>
                        </ol>
                    </nav>
                    </div>
                </div>
                <div class="col-lg-5">
                    <video id="dka-logo-animate" loop autoplay muted>
                    <source src="assets/logo-3.webm" type="video/webm">
                    Your browser does not support the video tag.
                    </video>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Team Start -->
    <div class="container-xxl">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-red">Team Members</h5>
                <h2 class="mb-0 fw-bold text-charcoal">Meet Our Experienced Instructors</h2> 
            </div>
            <div class="mb-5 text-center mx-auto" style="max-width: 600px;">
                <p class="mb-0">
                    Our black-belt instructors are certified in traditional Shotokan, Goju‑Ryu, or modern self‑defense systems. They’re passionate, approachable, and committed to continuous professional development through seminars and gradings.
                </p>
            </div>
            <div class="row g-4 mb-4 center-div">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="assets/img/manuel-aloba.jpg" alt="">
                        <div class="text-center p-4">
                            <h5 class="text-red">Manuel Aloba Sr.</h5>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>Manuel Aloba Sr.</h5>
                            <p class="fw-semibold text-red">Founder, Instructor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="assets/img/lucky-love-aloba.jpg" alt="">
                        <div class="text-center p-4">
                            <h5 class="text-red">Lucky Love Aloba</h5>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>Lucky Love Aloba</h5>
                            <p class="fw-semibold text-red">Instructor</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="assets/img/joy-japus.jpg" alt="">
                        <div class="text-center p-4">
                            <h5 class="text-red">Joy Japus</h5>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>Joy Japus</h5>
                            <p class="fw-semibold text-red">Instructor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="assets/img/julie-ann-medillo.jpg" alt="">
                        <div class="text-center p-4">
                            <h5 class="text-red">Julie-Ann Medillo</h5>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>Julie-Ann Medillo</h5>
                            <p class="fw-semibold text-red">Instructor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="assets/img/morats.jpg" alt="">
                        <div class="text-center p-4">
                            <h5 class="text-red">Full Name</h5>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>Full Name</h5>
                            <p class="fw-semibold text-red">Instructor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="assets/img/alenito-benitez.jpg" alt="">
                        <div class="text-center p-4">
                            <h5 class="text-red">Alenito Benitez</h5>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>Alenito Benitez</h5>
                            <p class="fw-semibold text-red">Instructor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="assets/img/phelina-erika-regis.jpg" alt="">
                        <div class="text-center p-4">
                            <h5 class="text-red">Phelina Erika Regis</h5>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>Phelina Erika Regis</h5>
                            <p class="fw-semibold text-red">Instructor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="assets/img/alenna-mariz-benitez.jpg" alt="">
                        <div class="text-center p-4">
                            <h5 class="text-red">Alenna Mariz Benitez</h5>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>Alenna Mariz Benitez</h5>
                            <p class="fw-semibold text-red">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="https://demo.htmlcodex.com/2539/insurance-html-template/img/team-4.jpg" alt="">
                        <div class="text-center p-4">
                            <h5 class="text-red">Full Name</h5>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>Full Name</h5>
                            <p class="fw-semibold text-red">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="https://demo.htmlcodex.com/2539/insurance-html-template/img/team-1.jpg" alt="">
                        <div class="text-center p-4">
                            <h5 class="text-red">Full Name</h5>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>Full Name</h5>
                            <p class="fw-semibold text-red">Designation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->