<app-header></app-header>
    <div class="container-xxl gallery">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-red">Qualified!</h5>
                <h2 class="mb-0 fw-bold text-charcoal">Batang Pinoy 2025</h2> 
            </div>
            <div class="mb-5 text-center mx-auto" style="max-width: 600px;">
                <p class="mb-0">
                    Batang Pinoy is the baseline sports program of the Philippine Sports Commission (PSC) in support of the National Sports Development agenda of the national government's desire to provide an "inclusive" sporting event for young athletes.
                </p>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="batang-pinoy-item bg-light rounded overflow-hidden">
                        <div class="batang-pinoy-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/batangpinoy/ayesha-gallega.jpg" alt="Dka Honbu Batang Pinoy 2025">
                            <div class="batang-pinoy-social"></div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-red">Ayesha Gallega</h5>
                            <p class="text-uppercase m-0 fw-medium">Cebu Province</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="batang-pinoy-item bg-light rounded overflow-hidden">
                        <div class="batang-pinoy-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/batangpinoy/ervien-niño-jubay.jpg" alt="Dka Honbu Batang Pinoy 2025">
                            <div class="batang-pinoy-social"></div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-red">Ervien Niño Jubay</h5>
                            <p class="text-uppercase m-0 fw-medium">Cebu Province</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="batang-pinoy-item bg-light rounded overflow-hidden">
                        <div class="batang-pinoy-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/batangpinoy/jhufelia-marie-mendez.jpg" alt="Dka Honbu Batang Pinoy 2025">
                            <div class="batang-pinoy-social"></div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-red">Jhufelia Marie Mendez</h5>
                            <p class="text-uppercase m-0 fw-medium">Cebu Province</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="batang-pinoy-item bg-light rounded overflow-hidden">
                        <div class="batang-pinoy-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/batangpinoy/justine-aloba.jpg" alt="Dka Honbu Batang Pinoy 2025">
                            <div class="batang-pinoy-social"></div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-red">Justine Aloba</h5>
                            <p class="text-uppercase m-0 fw-medium">Cebu City</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="batang-pinoy-item bg-light rounded overflow-hidden">
                        <div class="batang-pinoy-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/batangpinoy/kiefer-tyler-fernandez.jpg" alt="Dka Honbu Batang Pinoy 2025">
                            <div class="batang-pinoy-social"></div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-red">Kiefer Tyler Fernandez</h5>
                            <p class="text-uppercase m-0 fw-medium">Cebu Province</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="batang-pinoy-item bg-light rounded overflow-hidden">
                        <div class="batang-pinoy-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/batangpinoy/ugin-fat-delgado.jpg" alt="Dka Honbu Batang Pinoy 2025">
                            <div class="batang-pinoy-social"></div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-red">Ugin Fat Delgado</h5>
                            <p class="text-uppercase m-0 fw-medium">Cebu Province</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>