<app-header></app-header>
<div class="container-xxl">
  <div class="container py-5">
    <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
      <h5 class="fw-bold text-primary text-red">Open Invitational Karate Championship</h5>
      <h2 class="mb-0 fw-bold text-charcoal">4th Hon. Mayor Teresa Alegado Cup</h2>
    </div>
    <div class="mb-5 text-center mx-auto" style="max-width: 600px;">
      <p class="mb-0">
        We celebrate the spirit of martial arts—discipline, respect, and the pursuit of excellence. Competitors from
        different dojos and styles have gathered here not just to win, but to grow, learn, and honor the true spirit of
        Karate.
      </p>
    </div>

    <div class="row g-4 mb-4 center-div">
      <div class="col-lg-7 col-md-12  vidcontainer wow fadeInUp" data-wow-delay="0.1s">
        <iframe id="myvid" width="665" height="375"></iframe>
      </div>
      <div class="col-lg-2 col-md-12 vidplaylist wow fadeInUp" data-wow-delay="0.2s">
        <div class="videolist">
          <nav class="vids">
            <a class="link" href="https://drive.google.com/file/d/1cJsArkvnrwkyKPbrNY6cPLQ0ecWm6dDh/preview">Part
              One</a>

            <a class="link" href="https://drive.google.com/file/d/1YtCuyxW3kdPRhwW0wyJ6hy7g1TlM7rGj/preview">Part
              Two</a>

            <a class="link" href="https://drive.google.com/file/d/1bAv8Q8LNqxlNHxjGsr8vnY4Yw4EN_LP1/preview">Part
              Three</a>

            <a class="link" href="https://drive.google.com/file/d/1v4BLk_m0ORo-R7cZydogaCQnrtsX_eEA/preview">Part
              Four</a>
          </nav>
        </div>
      </div>

    </div>
    <!-- end -->

  </div>
</div>