<!-- header -->
<header>
    <!-- Banner -->
    <div class="banner position-relative overflow-hidden">
        <div class="container mb-5 position-relative overflow-hidden">
            <div class="banner-content wow fadeInUp" data-wow-delay="0.3s"  style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="row">
                        <div class="col-lg-7 banner-col">
                            <div class="section-title position-relative pb-3 mb-4">
                                <h1 class="mb-0">Do-Kyohan<br />Karate <span class="typed-words"></span></h1>
                            </div>
                            <p class="banner-text">
                                We teach core karate elements—kihon (basics), kata (forms), and kumite (sparring) while instilling character and respect aligned with traditional values like the dōjō kun. Our classes foster a welcoming, respectful, and professional atmosphere one where every student feels safe, supported, and encouraged to grow.
                            </p>
                            <a type="button" class="btn btn-bg-red animated slideInLeft" href="#contact"><fa-icon [icon]="faAlignLeft"></fa-icon> JOIN NOW</a>
                        </div>
                        <div class="col-lg-5">
                            <div class="hero-img wow zoomIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                                <img src="assets/img/dka-legends-face.png" alt="Image" class="img-fluid">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- about us -->

