.banner {
    display: block;
}

.banner-content {
    max-width: none;
    margin-top: 111px;
    padding: 60px 0;
}

.banner-col .section-title h1 {
    color: #000;
    font-size: 4rem;
    text-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 47%);
}

.banner-text {
    max-width: 600px;
    margin: 1.5rem 0 2.5rem 0;
    font-weight: 500;
}

.banner-content .btn-bg-red {
    border-radius: 4px;
    margin-top: 5px;
    font-weight: 400;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 5%);
    -webkit-filter: drop-shadow(2px 2px 1px #6d021b);
}
.banner-content .btn-bg-red:hover {
    background-color: #fffcef !important;
    border-color: #fffcef !important;
    -webkit-filter: drop-shadow(2px 2px 1px #000);
}
.hero-img {
    z-index: 1;
    position: relative;
}
@media (max-width: 991.98px) {
    .bg-white.rounded.p-3.w-75 {
        width: 100% !important;
    }
    .banner .container.mb-5.position-relative.overflow-hidden {
        margin-bottom: 1rem !important;
    }
    .hero-img {
        left: 0; 
        right: 0; 
    } 
    
    .hero-img.wow.zoomIn {
        min-height: 400px;
        margin: 10% auto 0 auto;
    }
    .hero-img img {
        height: 400px !important;
        right: 0;
        left: 0;
        margin: 0 auto;
        position: absolute !important;
    }
}

@media (max-width: 499.98px) { 
    .hero-img img {
        height: unset !important;
    }
 }
@media (max-width: 460.98px) { 
    .hero-img.wow.zoomIn {
        min-height: 360px;
    }
 }
@media (max-width: 430.98px) { 
    .hero-img.wow.zoomIn {
        min-height: 320px;
    }
 }
@media (max-width: 390.98px) { 
    .hero-img.wow.zoomIn {
        min-height: 290px;
    }
 }
.hero-img img {
    position: relative;
    opacity: 1;
}

.d-flex.flex-column.justify-content-center.text-center.bg-primary.rounded.h-100.p-3 .text-white {
    color: var(--white-yellow);
}
.d-flex.flex-column.justify-content-center.text-center.bg-primary.rounded.h-100.p-3 {
    filter: drop-shadow(1px 1px 1px var(--brown));
    -webkit-filter: drop-shadow(1px 1px 1px var(--brown));
    background-color: var(--red) !important;
}

.slide-box {
    -webkit-transform: skew(-5deg);
}

.banner-col .section-title::before {
    content: none;
}
.banner-col .section-title::after {
    content: none;
}

@media (max-width: 990px) {
    .banner::after { 
        opacity: 0.15;
        background-position: center top;
    }
}

header {
    background-image: url(/assets/img/bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content.wow.fadeInUp .row .col-lg-5 img {
    -webkit-filter: drop-shadow(1px 1px 1px #a0a7b1);
}
/* services */
#services .container-fluid {
    background-color: var(--light-blue);
}
.service-item {
    position: relative;
    height: 300px;
    padding: 0 20px;
    transition: .5s;
    background-color: var(--red) !important;
    -webkit-filter: drop-shadow(2px 2px 1px #6d021b);
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}
.service-item p {
    color: var(--bg-drk-brown-color);
    -webkit-transform: skew(6deg);
}
.service-item h4 {
        font-size: 1.2rem;
        font-weight: 700;
        -webkit-transform: skew(6deg);
}
.service-item p {
    line-height: 1.1rem;
    font-size: 14px;
}
.slide-box {
    -webkit-transform: skew(-5deg);
}

@media (max-width: 590.98px) { 
    .slide-box {
        -webkit-transform: skew(0deg);
    }
    .service-item p, .service-item h4 {
        -webkit-transform: skew(0deg);
    }
}

.services-icon-bg {
    background-color: #f4f7fe !important;
    box-shadow: inset 2px 2px 2px #600419, inset -3px -3px 3px #600419 !important;
    border: 0.0625rem solid #b00a31 !important;
    margin: 0 7% 7% 7%;
    height: 100px;
}
/* teams */
.team-item.bg-white.text-center.rounded.p-4.pt-0 {
    background-color: var(--white-yellow) !important;
    -webkit-filter: drop-shadow(2px 2px 2px #9198a3);
}

.team-item.bg-white.text-center.rounded.p-4.pt-0:hover {
    background-color: #fff !important;
}
div#teams a.btn.btn-square.btn-bg-red.m-1 {
    -webkit-filter: drop-shadow(2px 2px 1px #6d021b);
}
div#teams a.btn.btn-square.btn-bg-red.m-1:hover{
    color: #f5f0d7 !important;
}

div#teams .btn-bg-red.slideInLeft:hover {
    background-color: #fffcef !important;
    border-color: #fffcef !important;
    -webkit-filter: drop-shadow(2px 2px 1px #000);
}
/* contact */
.contact {
    background: linear-gradient(rgb(226 0 43 / 19%), rgb(226 0 43 / 11%)), url(/assets/img/bannerhead.jpg) center center no-repeat;
    background-size: cover;
}

.container-fluid.contact.py-5 .btn-bg-red {
    -webkit-filter: drop-shadow(2px 2px 1px #6d021b);
}

.container-fluid.contact.py-5 .btn-bg-red img {
    -webkit-filter: drop-shadow(1px 1px 1px #000);
}

.form-shadow {
    box-shadow: 4px 4px 4px #8b6969, -5px -5px 5px #865656 !important;
}
/* events */
.event-item.bg-light.rounded.overflow-hidden {
    background-color: var(--white-yellow) !important;
    -webkit-filter: drop-shadow(2px 2px 2px #9198a3);
}

div#events p {
    font-weight: 500;
    color: #000000;
}

div#events small {
    font-weight: 500;
    font-size: .840em;
    color: #333333;
}

div#events .p-4 {
    min-height: 233.65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div#events .p-4 .events-bottom a.btn.btn-bg-red.slideInLeft {
    font-size: 12px;
    -webkit-filter: drop-shadow(1px 1px 1px #626164);
}