<nav class="navbar navbar-expand-lg navbar-dark px-5">
    <div class="container">
        <div class="logo">
            <a class="logoimga" title="DKA Logo" href=""><img src="assets/img/logo-dka.png" alt="dka-honbu logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <fa-icon [icon]="faBars"></fa-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div *ngIf="!currenPage" class="navbar-nav nav me-auto mb-2 mb-lg-0">
                <a href="/" class="nav-item nav-link pe-3">Home</a>
                <a href="/home#about" class="nav-item pe-3 nav-link">About us</a>
                <a href="/home#services" class="nav-item pe-3 nav-link">Services</a>
                <a href="/home#teams" class="nav-item pe-3 nav-link">Teams</a>
                <a href="/home#events" class="nav-item pe-3 nav-link">Events</a>
                <a href="/home#contact" class="nav-item pe-3 nav-link">Contact</a>
            </div>
            <div *ngIf="currenPage" class="navbar-nav nav me-auto mb-2 mb-lg-0">
                <a href="/" class="nav-item nav-link pe-3">Home</a>
                <a (click)="onClick('about')" class="nav-item pe-3 nav-link">About us</a>
                <a (click)="onClick('services')" class="nav-item pe-3 nav-link">Services</a>
                <a (click)="onClick('teams')" class="nav-item pe-3 nav-link">Teams</a>
                <a (click)="onClick('events')" class="nav-item pe-3 nav-link">Events</a>
                <a (click)="onClick('contact')" class="nav-item pe-3 nav-link">Contact</a>
            </div>
        </div>
    </div>
</nav>